In [21]:
# 필요한 라이브러리 불러오기
import numpy as np
import pandas as pd

# 데이터 불러와서 데이터 프레임에 저장

- [World Happines Data](https://worldhappiness.report)<br>
- [GDP(current US$)](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD)<br>
- [GDP growth(Annual %)](https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG)<br>
- [CO2 emissions](https://data.worldbank.org/indicator/EN.ATM.CO2E.KT)<br>
- [Life expectancy at birth,total(years)](https://data.worldbank.org/indicator/SP.DYN.LE00.IN)<br>

### World Happiness Data

In [22]:
happy = pd.read_csv("world_happiness.csv")
happy

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455
...,...,...,...,...,...,...,...,...,...
137,Venezuela,5.006,NaN,0.887,0.611,NaN,0.828,0.759,0.374
138,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191
139,Yemen,3.058,NaN,0.789,0.553,NaN,0.793,0.461,0.315
140,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351
141,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212

### GDP Data

In [23]:
gdp = pd.read_csv("gdp.csv")
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018_gdp,2019_gdp,2020_gdp
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.934248e+10,1.975349e+10,2.152662e+10,2.577236e+10,2.356323e+10,2.685135e+10,...,8.990000e+11,9.160000e+11,9.300000e+11,9.590000e+11,8.950000e+11,8.570000e+11,9.650000e+11,9.870000e+11,"980,000,000,000","900,828,558,644"
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,"19,291,104,008","19,807,067,268"
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040732e+10,1.113130e+10,1.194684e+10,1.268022e+10,1.384262e+10,1.486682e+10,...,6.580000e+11,7.170000e+11,8.080000e+11,8.470000e+11,7.570000e+11,6.870000e+11,6.810000e+11,7.380000e+11,"792,000,000,000","786,584,975,144"
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.120000e+11,1.280000e+11,1.370000e+11,1.460000e+11,1.160000e+11,1.010000e+11,1.220000e+11,1.010000e+11,"89,417,190,341","62,306,913,444"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.701698e+09,6.499807e+09,7.074778e+09,7.396705e+09,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,"7,953,156,068","7,611,402,165"
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.093383e+10,2.673614e+10,2.348627e+10,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.160000e+11,3.960000e+11,3.670000e+11,3.510000e+11,3.180000e+11,2.960000e+11,3.500000e+11,3.680000e+11,"351,000,000,000","301,923,639,270"
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631164e+10,"23,308,688,906","19,320,053,859"
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.901533e+10,1.952362e+10,"16,932,434,839","16,768,513,443"

In [24]:
gdp = gdp[["Country Name","2018_gdp"]]
gdp

                    Country Name      2018_gdp
0                          Aruba  3.202189e+09
1    Africa Eastern and Southern  9.870000e+11
2                    Afghanistan  1.835388e+10
3     Africa Western and Central  7.380000e+11
4                         Angola  1.010000e+11
..                           ...           ...
261                       Kosovo  7.942962e+09
262                  Yemen, Rep.  2.348627e+10
263                 South Africa  3.680000e+11
264                       Zambia  2.631164e+10
265                     Zimbabwe  1.952362e+10

[266 rows x 2 columns]

### GDP growth Data

In [25]:
gdp_growth = pd.read_csv("gdp_growth.csv")
gdp_growth

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018_growth,2019_growth,2020_growth
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.420509,3.126902,4.846062,4.451771,3.025975,2.294711,3.111469,2.668322,2.050959,-2.929511
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-1.934778
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.869754,3.763086,7.312637,5.450582,4.036111,...,4.934816,5.286321,6.019889,5.908563,2.832693,0.117369,2.278490,2.927756,3.198694,-0.934728
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-4.040510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.377008,2.809625,3.441471,1.222801,4.095283,4.070291,4.226086,3.813315,4.941932,-6.888013
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-12.714823,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752447,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844751,6.177883,7.373613,7.939782,6.122761,...,3.284168,2.213355,2.485200,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,-6.959604
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034378,1.441785,-3.016189
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.699400,3.497160,-8.100000,-8.000000

In [26]:
gdp_growth = gdp_growth[['Country Name','2018_growth']]
gdp_growth

                    Country Name  2018_growth
0                          Aruba          NaN
1    Africa Eastern and Southern     2.668322
2                    Afghanistan     1.189228
3     Africa Western and Central     2.927756
4                         Angola    -2.003630
..                           ...          ...
261                       Kosovo     3.813315
262                  Yemen, Rep.     0.752447
263                 South Africa     0.787056
264                       Zambia     4.034378
265                     Zimbabwe     3.497160

[266 rows x 2 columns]

### Life Expectancy Data

In [27]:
life = pd.read_csv("life expectancy.csv")
life

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018_life,2019_life
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662000,66.074000,66.444000,66.787000,67.113000,67.435000,...,75.017000,75.158000,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000,76.152000,76.293000
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,42.716053,43.166935,43.603990,44.025617,44.432721,44.826919,...,58.470697,59.353595,60.185561,60.953363,61.647367,62.259288,62.787681,63.246264,63.648988,64.005197
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.446000,32.962000,33.471000,33.971000,34.463000,34.948000,...,61.028000,61.553000,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000,64.486000,64.833000
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.205380,37.632546,38.052612,38.463746,38.867073,39.264841,...,54.144307,54.649998,55.138944,55.618986,56.088269,56.542009,56.974761,57.382363,57.762347,58.115723
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.524000,37.811000,38.113000,38.430000,38.760000,39.102000,...,55.350000,56.330000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000,60.782000,61.147000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.143902,70.443902,70.743902,70.943902,71.243902,71.495122,71.743902,71.995122,72.243902,72.495122
262,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,29.919000,30.163000,30.500000,30.943000,31.501000,32.175000,...,65.549000,65.768000,65.920000,66.016000,66.066000,66.085000,66.087000,66.086000,66.096000,66.125000
263,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.406000,48.777000,49.142000,49.509000,49.888000,50.284000,...,57.669000,58.895000,60.060000,61.099000,61.968000,62.649000,63.153000,63.538000,63.857000,64.131000
264,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.687000,47.084000,47.446000,47.772000,48.068000,48.351000,...,55.655000,57.126000,58.502000,59.746000,60.831000,61.737000,62.464000,63.043000,63.510000,63.886000
265,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,53.019000,53.483000,53.946000,54.403000,54.849000,55.274000,...,50.640000,52.896000,55.032000,56.897000,58.410000,59.534000,60.294000,60.812000,61.195000,61.490000

In [28]:
life = life[["Country Name","2018_life"]]
life

                    Country Name  2018_life
0                          Aruba  76.152000
1    Africa Eastern and Southern  63.648988
2                    Afghanistan  64.486000
3     Africa Western and Central  57.762347
4                         Angola  60.782000
..                           ...        ...
261                       Kosovo  72.243902
262                  Yemen, Rep.  66.096000
263                 South Africa  63.857000
264                       Zambia  63.510000
265                     Zimbabwe  61.195000

[266 rows x 2 columns]

### CO2 Data

In [29]:
co2 = pd.read_csv('co2_emissions.csv')
co2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018_co2
0,Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,11092.6750,11576.7190,12713.4890,12178.1070,11840.7430,10623.2990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (kt),EN.ATM.CO2E.KT,118545.9013,123758.9033,128093.8978,132810.3325,144345.3524,155803.7801,...,515682.5438,543808.6518,535604.3575,559333.8573,580510.925,601860.164,586385.004,592299.594,601323.3947,600351.0
2,Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,414.3710,491.3780,689.3960,707.7310,839.7430,1008.4250,...,6000.0000,8670.0000,12260.0000,10450.0000,8510.000,7810.000,7990.000,7390.000,7380.0000,7440.0
3,Africa Western and Central,AFW,CO2 emissions (kt),EN.ATM.CO2E.KT,8760.4630,9376.5190,9710.2160,11540.0490,13985.9380,19827.4690,...,145550.0000,165750.0000,179070.0000,181740.0000,191990.000,198440.000,193060.000,195120.000,201900.0000,224380.0
4,Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.0500,454.7080,1180.7740,1151.4380,1224.7780,1188.1080,...,27150.0000,28530.0000,29460.0000,30250.0000,32820.000,34630.000,35160.000,35410.000,30840.0000,27340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,CO2 emissions (kt),EN.ATM.CO2E.KT,58.6720,73.3400,69.6730,80.6740,99.0090,102.6760,...,25650.0000,23990.0000,20690.0000,19680.0000,26350.000,26710.000,14210.000,10880.000,10060.0000,9310.0
263,South Africa,ZAF,CO2 emissions (kt),EN.ATM.CO2E.KT,97934.5690,102213.9580,105767.2810,109826.6500,119657.8770,128260.6590,...,404020.0000,425110.0000,409120.0000,426710.0000,436870.000,447980.000,424880.000,425180.000,435140.0000,433250.0
264,Zambia,ZMB,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,3278.2980,3916.3560,...,2470.0000,2640.0000,3060.0000,4020.0000,4240.000,4800.000,5070.000,5590.000,6990.0000,7740.0
265,Zimbabwe,ZWE,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,4473.7400,5214.4740,...,7750.0000,9810.0000,11490.0000,12110.0000,12360.000,12150.000,12400.000,10990.000,10230.0000,12270.0

In [30]:
co2 = co2[["Country Name","2018_co2"]]
co2

                    Country Name  2018_co2
0                          Aruba       NaN
1    Africa Eastern and Southern  600351.0
2                    Afghanistan    7440.0
3     Africa Western and Central  224380.0
4                         Angola   27340.0
..                           ...       ...
261                       Kosovo       NaN
262                  Yemen, Rep.    9310.0
263                 South Africa  433250.0
264                       Zambia    7740.0
265                     Zimbabwe   12270.0

[266 rows x 2 columns]

# 'Total'이라는 이름의 DataFrame 생성하기

### 'merge'를 활용하여 전체 데이터 프레임 구성

In [31]:
total = pd.merge(happy, gdp,how='inner',on = 'Country Name')
total

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,2018_gdp
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405,1.835388e+10
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319,1.514702e+10
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293,1.750000e+11
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321,5.180000e+11
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455,1.245794e+10
...,...,...,...,...,...,...,...,...,...,...
121,Uruguay,6.372,9.980,0.917,0.876,-0.097,0.683,0.877,0.275,6.451504e+10
122,Uzbekistan,6.205,8.818,0.921,0.970,0.318,0.520,0.825,0.209,5.039261e+10
123,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191,2.450000e+11
124,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351,2.631164e+10
125,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212,1.952362e+10

In [32]:
total = pd.merge(total,gdp_growth,how = 'inner',on = 'Country Name')
total

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,2018_gdp,2018_growth
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405,1.835388e+10,1.189228
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319,1.514702e+10,4.071301
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293,1.750000e+11,1.200000
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321,5.180000e+11,-2.565352
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455,1.245794e+10,5.200000
...,...,...,...,...,...,...,...,...,...,...,...
121,Uruguay,6.372,9.980,0.917,0.876,-0.097,0.683,0.877,0.275,6.451504e+10,0.477907
122,Uzbekistan,6.205,8.818,0.921,0.970,0.318,0.520,0.825,0.209,5.039261e+10,5.446445
123,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191,2.450000e+11,7.075789
124,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351,2.631164e+10,4.034378
125,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212,1.952362e+10,3.497160

In [33]:
total = pd.merge(total,life,how = 'inner',on = 'Country Name')
total

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,2018_gdp,2018_growth,2018_life
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405,1.835388e+10,1.189228,64.486
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319,1.514702e+10,4.071301,78.458
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293,1.750000e+11,1.200000,76.693
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321,5.180000e+11,-2.565352,76.520
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455,1.245794e+10,5.200000,74.945
...,...,...,...,...,...,...,...,...,...,...,...,...
121,Uruguay,6.372,9.980,0.917,0.876,-0.097,0.683,0.877,0.275,6.451504e+10,0.477907,77.770
122,Uzbekistan,6.205,8.818,0.921,0.970,0.318,0.520,0.825,0.209,5.039261e+10,5.446445,71.573
123,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191,2.450000e+11,7.075789,75.317
124,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351,2.631164e+10,4.034378,63.510
125,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212,1.952362e+10,3.497160,61.195

In [34]:
total = pd.merge(total,co2,how = 'inner',on = 'Country Name')
total

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,2018_gdp,2018_growth,2018_life,2018_co2
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405,1.835388e+10,1.189228,64.486,7440.0
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319,1.514702e+10,4.071301,78.458,5560.0
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293,1.750000e+11,1.200000,76.693,151670.0
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321,5.180000e+11,-2.565352,76.520,177410.0
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455,1.245794e+10,5.200000,74.945,5550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Uruguay,6.372,9.980,0.917,0.876,-0.097,0.683,0.877,0.275,6.451504e+10,0.477907,77.770,6520.0
122,Uzbekistan,6.205,8.818,0.921,0.970,0.318,0.520,0.825,0.209,5.039261e+10,5.446445,71.573,112090.0
123,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191,2.450000e+11,7.075789,75.317,257860.0
124,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351,2.631164e+10,4.034378,63.510,7740.0
125,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212,1.952362e+10,3.497160,61.195,12270.0

## 2021년 World Happiness 데이터를 참고하여 대륙 칼럼 추가

In [35]:
happy_21 = pd.read_csv("world_happiness_21.csv")
happy_21 = happy_21[["Country Name","Regional indicator"]]
happy_21

    Country Name  Regional indicator
0        Finland      Western Europe
1        Denmark      Western Europe
2    Switzerland      Western Europe
3        Iceland      Western Europe
4    Netherlands      Western Europe
..           ...                 ...
144      Lesotho  Sub-Saharan Africa
145     Botswana  Sub-Saharan Africa
146       Rwanda  Sub-Saharan Africa
147     Zimbabwe  Sub-Saharan Africa
148  Afghanistan          South Asia

[149 rows x 2 columns]

In [36]:
total = pd.merge(total,happy_21, how = "inner", on = "Country Name")
total

,Country Name,Ladder Score,Log GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,2018_gdp,2018_growth,2018_life,2018_co2,Regional indicator
0,Afghanistan,2.694,7.692,0.508,0.374,-0.094,0.928,0.424,0.405,1.835388e+10,1.189228,64.486,7440.0,South Asia
1,Albania,5.004,9.518,0.684,0.824,0.009,0.899,0.713,0.319,1.514702e+10,4.071301,78.458,5560.0,Central and Eastern Europe
2,Algeria,5.043,9.348,0.799,0.583,-0.146,0.759,0.591,0.293,1.750000e+11,1.200000,76.693,151670.0,Middle East and North Africa
3,Argentina,5.793,10.032,0.900,0.846,-0.211,0.855,0.820,0.321,5.180000e+11,-2.565352,76.520,177410.0,Latin America and Caribbean
4,Armenia,5.062,9.451,0.814,0.808,-0.163,0.677,0.581,0.455,1.245794e+10,5.200000,74.945,5550.0,Commonwealth of Independent States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Uruguay,6.372,9.980,0.917,0.876,-0.097,0.683,0.877,0.275,6.451504e+10,0.477907,77.770,6520.0,Latin America and Caribbean
122,Uzbekistan,6.205,8.818,0.921,0.970,0.318,0.520,0.825,0.209,5.039261e+10,5.446445,71.573,112090.0,Commonwealth of Independent States
123,Vietnam,5.296,8.934,0.832,0.909,-0.041,0.808,0.692,0.191,2.450000e+11,7.075789,75.317,257860.0,Southeast Asia
124,Zambia,4.041,8.167,0.718,0.791,0.048,0.811,0.703,0.351,2.631164e+10,4.034378,63.510,7740.0,Sub-Saharan Africa
125,Zimbabwe,3.616,8.049,0.775,0.763,-0.068,0.844,0.710,0.212,1.952362e+10,3.497160,61.195,12270.0,Sub-Saharan Africa

# 완성된 DataFrame .csv 파일로 만들기

In [37]:
total.to_csv("total.csv",index=False)